# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
# Uncomment vendor/ if you do not want to check in your dependencies
# vendor/

# Go workspace file
go.work
go.work.sum

# Local environment variables
.env

# Optional: Ignore the bin folder if you build your binaries there
bin/